#filter-dim {
    position: absolute;
    opacity: 20%;
    background: rgba(0, 0, 0, 0);
    -moz-transition: all 250ms ease;
    -webkit-transition: all 250ms ease;
    -o-transition: all 250ms ease;
    transition: all 250ms ease;
    z-index: -5;
    width: 100%;
    height: 100%;
}

.tag-filter {
    background-color: transparent;
    -webkit-transition: -webkit-filter 150ms linear;
}

.filter-expanded {
    max-height: 100% !important;
    flex: 0 0 auto;
    padding: 0 0 5px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2),
    0 -1px 0 rgba(0, 0, 0, 0.02);
    border-top: #e4e4e4 2px solid;
}

.search-outer-after-filter {
    padding: 5px !important;
    box-shadow: none !important;
    border: none !important;

}

.input-common-filter {
    box-shadow: none !important;
    border: none !important;
}

.entity-list-transition-filter {
    -webkit-transition: ease 250ms;
    -moz-transition: ease 250ms;
    -ms-transition: ease 250ms;
    -o-transition: ease 250ms;
    transition: ease 250ms;
    border-top: #e4e4e4 1px solid !important;
    -moz-box-shadow: inset 0 15px 9px -20px #9b9b9b;
    -webkit-box-shadow: inset 0 15px 9px -20px #9b9b9b;
    box-shadow: inset 0 15px 9px -20px #9b9b9b;
}

#filters {
    max-height: 0;
    -webkit-transition: ease 200ms;
    -moz-transition: ease 200ms;
    -ms-transition: ease 200ms;
    -o-transition: ease 200ms;
    transition: ease 200ms;
    background-color: white;
    overflow: hidden;
    position: absolute;
    width: 380px;
    top: 57px;
    z-index: 501;
}

#tag-filters {
    padding: 0 15px 5px 15px;
    background: transparent;
}

.filter-item {
    font-size: 15px;
    border: none;
    width: 100%;
    padding: 12px 0 12px 20px;
    text-align: left;
    color: rgba(0, 0, 0, .8);
    outline: none;
    background-color: transparent;
    cursor: pointer;
}

.tag-filter {
    display: flex;
}

.tag-filter:hover {
    background-color: #f9f9f9;
    cursor: pointer;

}

.check-icon-show {
    -webkit-animation: swing 250ms ease;
    animation: swing 250ms ease;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    opacity: 1 !important;
}

.check-mark {
    transition: opacity 75ms ease;
    background-image: url("../../images/check.svg");
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-position: left;
    padding: 10px 0;
    margin-right: 20px;
    background-size: 20px;
    opacity: 0;
}

