#map {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    margin-left: 380px;
}

#store-list {
    background-color: white;
    overflow-y: auto;
}

.dim {
    filter: brightness(60%);
    -webkit-transition : -webkit-filter 150ms linear
}

#menu-dim {
    position: absolute;
    opacity: 20%;
    background: rgba(0, 0, 0, 0);
    -moz-transition: all 250ms ease;
    -webkit-transition: all 250ms ease;
    -o-transition: all 250ms ease;
    transition: all 250ms ease;
    z-index: -5;
    width: 100%;
    height: 100%;
}

.dimmed {
    z-index: 1000 !important;
    background: rgba(0, 0, 0, 0.4) !important;
}

#menu {
    width: 350px;
    height: 100%;
    position: absolute;
    z-index: 1000;
    background-color: white;
    transition: ease 250ms;
    left: -350px;
}

.menu-open {
    left: 0 !important;
}

#main-panel {
    z-index: 1;
    position: absolute;
    width: 380px;
    height: 100%;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2), 0 -1px 0 rgba(0,0,0,0.02);
    display: flex;
    flex-flow: column;

}

html, body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, serif;
    overflow: hidden;
}

#input-container {
    padding: 0 10px;
    font-size: 14px;
    border-radius: 10px;
    height: 48px;
    width: 100%;
    box-sizing: border-box;
    -webkit-transition: ease 250ms;
    -moz-transition: ease 250ms;
    -ms-transition: ease 250ms;
    -o-transition: ease 250ms;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: white;
    margin: 0;


}

.input-common {
    outline: none;
    border: none;
    height: 30px;
    display: inline-block;
    width: 80%;
    font-size: 15px;
}

#search-input:focus + #main-search-icon {
    background-image: url("../../images/search-red.svg") !important;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #bdbdbd;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #bdbdbd;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #bdbdbd;
}

.input-common-default {
    box-shadow: 0 2px 4px rgba(0,0,0,0.2), 0 -1px 0 rgba(0,0,0,0.02);
    border: 1px solid #fff;
    -webkit-transition: ease 250ms;
    -moz-transition: ease 250ms;
    -ms-transition: ease 250ms;
    -o-transition: ease 250ms;
    background-color: white;
}

.input-common-filter {
    box-shadow: none;
    border: none;
}

.entity-list-transition-filter {
    -webkit-transition: ease 250ms;
    -moz-transition: ease 250ms;
    -ms-transition: ease 250ms;
    -o-transition: ease 250ms;
    transition: ease 250ms;
    border-top: #e4e4e4 1px solid !important;
    -moz-box-shadow:    inset 0 15px 9px -20px #9b9b9b;
    -webkit-box-shadow: inset 0 15px 9px -20px #9b9b9b;
    box-shadow:         inset 0 15px 9px -20px #9b9b9b;
}

.section-result {
    margin-bottom: 8px;
}

.section-result-title {
    font-size: 18px;
}

.section-result-details {
    font-size: 11px;
    color: dimgray;
}

.entity-list {
    height: 100%;
    -webkit-transition: ease 250ms;
    -moz-transition: ease 250ms;
    -ms-transition: ease 250ms;
    -o-transition: ease 250ms;
    transition: ease 250ms;
    border-top: white 0 solid;
    flex: 0 1 auto;
}

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #eaeaea;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.entity-list { overflow: -moz-scrollbars-none; }
.entity-list { -ms-overflow-style: none; }

.entity-list-transition {
    -webkit-transition: ease 250ms;
    -moz-transition: ease 250ms;
    -ms-transition: ease 250ms;
    -o-transition: ease 250ms;
    transition: ease 250ms;
    border-top: #e4e4e4 1px solid;
    -moz-box-shadow:    inset 0 15px 9px -20px #9b9b9b;
    -webkit-box-shadow: inset 0 15px 9px -20px #9b9b9b;
    box-shadow:         inset 0 15px 9px -20px #9b9b9b;
}

.section-result{
    display: inline-block;
    width: 85%;
    margin: 0 !important;
    padding: 14px 0 14px 6px;
    height: 100%;

}

.section-result-icon {
    width: 15%;
    height: 30px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('../../images/place-dark.svg');
}

.section-result-main:hover > .section-result-icon {
    background-image: url("../../images/place.svg");
}

.section-result-main {
    display: flex;
    align-items: center;
    border-bottom: #f2f2f2 1px solid;

}

.section-result-main:hover {
    background-color: #f9f9f9;
}

.menu-icon {
    background-image: url("../../images/menu.svg");
    background-repeat: no-repeat;
    margin: 0 10px 0 0;
    background-position: center;
}

.search-icon {
    background-image: url("../../images/search.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border: none;
    outline: none;
}



.search-icon::-moz-focus-inner {
    border: 0;
}

.icon {
    width: 40px;
    height: 40px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    -webkit-transition: background-color 250ms ease;
    -moz-transition: background-color 250ms ease;
    -ms-transition: background-color 250ms ease;
    -o-transition: background-color 250ms ease;
    transition: background-color 250ms ease;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
}

.icon:hover {
    background-color: #f1f1f1;
}

.search-outer {
    padding: 10px 15px;
    display: flex;
    align-items: center;
    -webkit-transition: ease 250ms;
    -moz-transition: ease 250ms;
    -ms-transition: ease 250ms;
    -o-transition: ease 250ms;
    background-color: white;
    flex: 0 1 40px;


}

.search-outer-after {
    padding: 5px !important;
}

.search-outer-after-filter {
    padding: 5px !important;
}

#search-form {
    width: 227px;
    height: 40px;
    display: flex;
    align-items: center;
}

.header {
    padding: 10px;
}

#menu-back-icon {
    background-image: url("../../images/back-arrow.svg");
    -webkit-transition: right 250ms;
    -moz-transition: right 250ms;
    -ms-transition: right 250ms;
    -o-transition: right 250ms ease;
    transition: right 250ms ease;
    background-repeat: no-repeat;
    background-position: center;
}

.back-icon {
    right: 0 !important;
}

.tag-filter {
    background-color: transparent;
    -webkit-transition: -webkit-filter 150ms linear;
}

#filter-search {
    background-image: url("../../images/filter-light.svg");
    margin: 0 5px
}

.search-separator {
    width: 0;
    height: 20px;
    border-left: 1px solid #ddd;
    border-right: 0;
    border-top: 0;
    border-bottom: 0;
    margin-top: 8px;
}

#filters {
    max-height: 0;
    -webkit-transition: ease 200ms;
    -moz-transition: ease 200ms;
    -ms-transition: ease 200ms;
    -o-transition: ease 200ms;
    transition: ease 200ms;
    background-color: white;
    overflow: hidden;
}

.filter-expanded {
    max-height: 100% !important;
    flex: 0 0 auto;
    padding: 0 15px 5px 15px;
}

#tag-filters {
    padding: 0 15px 5px 15px;
    background: transparent;
}

#number-results {
    color: #8f8f8f;
    position: relative;
    width: 100%;
    display: flex;
    text-align: center;
    flex: 0 0 20px;
    flex-flow: row;
    flex-wrap: nowrap;
    border-top: #e4e4e4 1px solid;
    font-size: 14px;
}

#website-icon {
    background-image: url("../../images/website.svg");
}

.info-list-container {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    padding: 11px 0;
}

#website {

}

#website:hover > #website-text{
    color: #0061ff !important;
}

#website:hover {
    cursor: pointer;
}

#website:hover > #website-icon {
    background-image: url("../../images/website-blue.svg") !important;
}

.info-text {
    text-decoration: none;
    color: #494949;
}

#selected-game-store {
    border-top: 1px solid #ddd;
    padding: 24px 0 10px 16px;
    display: flex;
    flex: 0 1 auto;
    flex-direction: column;
}

#place-info-icon {
    background-image: url("../../images/place-light.svg");
    background-size: 24px 24px;
}

.info-icon {
    width: 24px;
    height: 24px;
    margin: 3px 9px 3px 0;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: center;
}

#info-header {
    font-size: 21px;
    margin-left: 4px;
}

#email-icon {
    background-image: url("../../images/email.svg");
}

#phone-icon {
    background-image: url("../../images/phone.svg");
}