{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% include "common_head.html" %}
    <title>Local Realms</title>
</head>
<body>
<h1>Searchable Map of Friendly Local Game Stores</h1>
<p>
Hi I'm John Cleveland and I built Local Realms to provide a user-friendly, searchable way to find
friendly local game stores (FLGS).  In today's world of online shopping it's easy to forget
about those friendly local game stores that provide a nice place to meet people, hang out,
get some helpful advice, and just hang out.  Even though you can still buy your games online
at places like Amazon, there's nothing quite like a friendly local game store.
</p>

<h1>This Site Didn't Exist</h1>
<p>
I created this site because I couldn't find a single, maintained searchable map of all the
friendly local game stores in North America.  I found several awesome projects that had been
started at one point, but alas they hadn't been maintained.  So as local game stores go in
and out of business a lot, a listing of local game stores goes out of date pretty fast.
</p>

<p>
Also, I found that sites such as Google Maps and Yelp, while decent for finding local game
stores, cluttered up their search results with a bunch of stores that aren't local game
stores.  Searching in my local area on Google Maps for the search term "local game store"
turned up stores such as JoAnn's Fabrics, Wal-Mart, and gas stations.  Gas stations?  Really?
</p>

<h1>A Single Curated List</h1>
<p>
So I wanted there to be a single, curated list of local game stores somewhere.  And I wanted
it to be an easily maintainable list so that people could update it, so anytime you went to the
list, you knew you were looking at accurate, updated information.  So I built this site to do
just that.
</p>

<p>
Hope you enjoy it and find it useful!
</p>
</body>
</html>
