{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description"
          content="Visit a Friendly Local Game Store (FLGS) today.  Find local board game stores and board game cafes in North America."/>
    <title>Local Game Store Finder</title>

    <link rel="icon" type="image/png" sizes="32x32" href="{% static "images/favicon.ico" %}?v=1"/>

    <link rel="stylesheet" href="{% static "css/app/main.css" %}" />
</head>
<body>
<div id="map"></div>
<div id="main-vue-hook"></div>

<script src="{% static "js/lib/jQuery/jquery-3.3.0.min.js" %}"></script>
<script src="{% static "js/lib/vuejs/vue.js" %}"></script>
<script src="{% static "js/lib/vuejs/vuex.js" %}"></script>
<script src="{% static "js/lib/lunr/lunr.js" %}"></script>

<script src="{% static "js/app/main.js" %}"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB83ag2ECvWR3YM2rRCI62zPxAVpzCLdyk&callback=initMap" async defer></script>

<script src="{% static "js/app/components/Main.js" %}" type="module"></script>
</body>
</html>
