{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no" />
    <meta name="description"
          content="Visit a Friendly Local Game Store (FLGS) today.  Find local board game stores and board game cafes in North America."/>
    <title>Local Game Store Finder</title>

    <link rel="icon" type="image/png" sizes="32x32" href="{% static "images/favicon.ico" %}?v=1"/>

    <link href="https://api.mapbox.com/mapbox.js/v3.2.0/mapbox.css" rel="stylesheet" />
    <link rel="stylesheet" href="{% static "css/app/main.css" %}" />
</head>
<body>
<input type="hidden" id="mapboxAccessToken" value="{{ mapbox_access_token }}" />
<div id="map"></div>
<div id="main-vue-hook"></div>

<script src="{% static "js/lib/jQuery/jquery-3.4.0.min.js" %}"></script>
<script src="{% static "js/lib/Vuejs/vue.js" %}"></script>
<script src="{% static "js/lib/Vuejs/vuex.js" %}"></script>
<script src="https://unpkg.com/lunr/lunr.js"></script>
<script src="https://api.mapbox.com/mapbox.js/v3.2.0/mapbox.js"></script>

<script src="{% static "js/app/main.js" %}"></script>

<script src="{% static "js/app/components/Menu.js" %}" type="module"></script>
<script src="{% static "js/app/components/SearchBox.js" %}" type="module"></script>
<script src="{% static "js/app/components/Filters.js" %}" type="module"></script>
<script src="{% static "js/app/components/StoreList.js" %}" type="module"></script>
<script src="{% static "js/app/components/Map.js" %}" type="module"></script>
<script src="{% static "js/app/components/Main.js" %}" type="module"></script>
</body>
</html>
