{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% include "common_head.html" %}
    <title>Local Realms</title>

    <link href="https://netdna.bootstrapcdn.com/font-awesome/4.0.1/css/font-awesome.css" rel="stylesheet"/>
    <link href="{% static "css/app/common.css" %}?v={{ version }}" rel="stylesheet"/>
    <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic|Material+Icons" rel="stylesheet" />

    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
    <script src="{% static "js/lib/jQuery/jquery-3.4.0.min.js" %}"></script>

</head>
<body>
    <a href="/maintenance">Maintenance Home</a>
    <div id="user-account-info">
        <span id="user-account-welcome">Hello, </span>
        <span id="user-account-name">{{ request.user.username }}</span>
    </div>

    <div><b>Stores with No Phone Number ({{ num_stores_with_no_phone }})</b></div>
    {% for store in stores_with_no_phone %}
        Business: {{ store.business.name }}, {{ store.name }}, {{ store.city }}, {{ store.state_code }} <br />
    {% endfor %}
    <p></p>
    <div><b>Businesses with No Website ({{ num_businesses_with_no_website }})</b></div>
    {% for business in businesses_with_no_website %}
        Business: {{ business.name }} <br />
    {% endfor %}
</body>
</html>